
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Netflix Sans';
    font-weight: 100;
    
}




header {
background-image: url(../image/ba.jpg);
/* width: 600px; */
height: 747px;





}

body {
   /* background-color: aquamarine; */
   background-color: #000000;
    }

.Logo{
    width: 167px;
    height: 45px;

}

select{
width: 94px;
height: 36px;
background-color: #000000;
color:#FFFFFF;
border-radius: 3px;
}

option{
  
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    
}

.btn{
    width: 84px;
    height: 34px;
    background-color: #E50914;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 400;
    border-radius: 3px; 
    margin-left: 25px;
    border: none;



    
}
.top{
    display: flex;

    align-items: center;

 
}

.top > .earth{
    position: absolute;
 
    padding: 0 5px 0 5px;
}

.arrow{
    position: absolute;
    margin-left: 79px;
}

nav{  
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
}

.ff{
    margin-left: 7px;
}

.section1{
  margin: auto;
  margin-top: 8rem;
    color: #FFFFFF;
    width: 686px;
text-align: center;

}


.section1 > h1{
    
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.005em;
    text-align: center;
    margin-bottom: 20px;

    
}


.section1 > p{
    margin-top: 20px;
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;
    
}
.inp{
    display: flex;
    margin-top: 2rem;
}

.inp > input{
    width: 500px;
    height: 70px;
    border-radius: 2px, 0px, 0px, 2px;
    border: 1px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;


    
    
}

.inp > button{
    width: 247px;
    height: 70px;
    border-radius: 0px, 2px, 2px, 0px;  
    background-color: #E50914;
    border: none;


    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: #FFFFFF;
    
    
    
}
main{
    background-color:#000000;
    color:#FFFFFF;
    display: flex;  
    flex-direction: column;
    justify-content: center;
}

.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 120px;
    gap: 30;
    

/* background-color: #E50914; */



}

.left{
    width: 595.05px;
    height: 180px;
    padding: 0.06px, 96.05px, 6.94px, 0px
    
}

.left > h2{
font-size: 50px;
font-weight: 700;
line-height: 55px;
letter-spacing: -0.01em;
color:#FFFFFF;
}

.left > p{
font-size: 26px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
margin-top: 20PX;
width: 499px;
height: 99px;
}


.piccc{
    width: 500px;
height: 368px;

}

.right > video{
    position: absolute;
    width: 387px;
   height: 218px;
   margin: 70px 0 0 -450px ;


}



hr{
    /* position: absolute; */
    background: #222222;
    height: 8px;
    border: none;
    
    

}

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 120px;
    gap: 30px;
    /* background-color: aqua; */
    
}

.frame{
    position: relative;
   margin-top: -200px;
   margin-left: 30px;
}

.right1{
    width: 595.05px;
   height: 202px;
   padding: 0px, 0px, 6.97px, 48.05px

}

.right1 > h2{
font-size: 50px;
font-weight: 700;
line-height: 55px;
letter-spacing: -0.01em;

width: 500px;
height: 110px;



}

.right1 > p {
margin-top: 20px;
font-size: 26px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: left;

}

.download1{
    width: 504.95px;
height: 382.7px;
top: -40.39px;


}

.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 120px;
    gap: 59px;

    /* background-color: blueviolet; */

}

.left2{
    width: 470px;
    height: 180px;
    padding: 16.3px, 82.05px, 0px, 0px
    

}

.left2 > h2{

    font-size: 50px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -0.01em;
    width: 478px;
    height: 55px;
}

.left2 > p{
    margin-top: 20px;
    font-size: 26px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
     width: 501px;
    height: 99px;
}

.download2{
    width: 500px;
    height: 417px;
}

.section5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 120px;
    gap: 30px;
    margin-top: 60px;
    /* background-color: aqua; */
      
}

.left5{
    width: 505px;
    height: 379px;
}

.right5{

    width: 595.05px;
    height: 180px;
    padding: 0px, 0px, 28.72px, 48.05px;

}

.right5 > h2{
    width: 541px;
    height: 55px;

   font-size: 50px;
   font-weight: 700;
   line-height: 55px;
   letter-spacing: -0.01em;
}

.right5 > p{
    margin-top: 20px;
    width: 502px;
    height: 99px;
    font-size: 26px;
   font-weight: 400;
   line-height: 33px;
   letter-spacing: 0em;

}

.section6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section6 > h2{
margin-top: 50px;
font-size: 50px;
font-weight: 700;
line-height: 55px;
letter-spacing: -0.01em;
width: 657px;
height: 55px;

}



.containeradd{
    margin-top: 50px;
    width: 815px;
    height: 75px;
    padding: 20px;
    background-color: #303030;
}

.add1{
  
font-size: 26px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
width: 388px;
height: 33px;

}

.box{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.container-others{
    margin-top: 10px;
    width: 815px;
    height: 75px;
    padding: 20px;
    background-color: #303030;
}

.section7{
    margin: auto;
    margin-top: 4rem;
      color: #FFFFFF;
      width: 686px;
  text-align: center;
}

.break{
    margin-top: 5rem;
    background: #222222;
    height: 8px;
    border: none;
}

.section8{
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    margin-top: 8rem;
}

.footer1{
color: #FFFFFF;
}

table{
    color: #FFFFFF;
    width: 100%;
    table-layout: fixed; 
}

th, td{
    padding: 6px 10px;
    width: 200px;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #757575;


}

.toptable{
    width: 250px;
    height: 20px;
    color: #757575;

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    position:absolute;
    margin:-2rem 0 0 210px;

}

.down-Option{
    margin:20px 0 0 210px;
}


.last{
    margin: 2rem 0 2rem 0;
    width: 72px;
    height: 17px;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #757575;
}

